<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/w3pro.css" />
</head>
<body>
    <header>
        <p style="font-size: 11px; font-family: Merriweather">
            <span class="w3-card-2">
                <i class="fa fa-facebook"></i> Facebook page: <a href="https://www.facebook.com/dacbuilt">DAC Construction Co.</a>
            </span>
        </p>
        <p style="font-size: 11px; font-family: Merriweather">
            <span class="w3-card-2">
                <i class="fa fa-twitter"></i> Twitter page: <a href="https://www.twitter.com/dacconstruction">DAC Construction</a>
            </span>
        </p>
        <p>
            <span>
                <i class="fa fa-"></i>
            </span>
        </p>
    </header>
    <nav class="w3-bar">
        <a href="/Index" class="w3-bar-item w3-quarter">
            <img src="~/Content/logo.png" style="width: 45%;" />
        </a>
        <a href="~/Views/Home/About.cshtml" class="w3-bar-item w3-button">ABOUT US</a>
        <a href="~/Views/Home/Services.cshtml" class="w3-bar-item w3-button">SERVICES</a>
        <a href="~/Views/Home/Project.cshtml" class="w3-bar-item w3-button">PROJECTS</a>
        <a href="~/Views/Home/Contact.cshtml" class="w3-bar-item w3-button">CONTACT</a>
    </nav>
    @RenderBody()
    <footer class="panel-footer">
        <p>Thanks for taking a look at our site, make sure to consider us for your next big project!</p>
        <br />
        <p>Copyright &copy; 2018 - DAC Construction</p>
    </footer>
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js");
    @Scripts.Render("~/Scripts/bootstrap.min.js");

    @RenderSection("scripts", required: false);
</body>
</html>